* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:rgb(242, 234, 219); 
    font-family: Arial, sans-serif;
    color: black;
  }
header {
    background-color: rgb(90, 14, 14);
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    clear: both;
  }
  

header img{
    width: 6%;
    margin-right: 2%;
     }
  
  nav {
    display: inline-block;
    vertical-align: middle; /*Profe esto lo agregue para poder alinear mejor verticalmente*/
  }
  
  nav li {
    display: inline-block;
    margin: 1.5%;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
   
     padding: 0.75%;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgb(212, 175, 55);
  }
  
  
  nav a:hover {
    background-color: rgb(212, 175, 55);
    color: rgb(90, 14, 14);
  } /*Profe esto es algo extra que busque por que queria agregarle un poco mas de estetica al nav :)*/
  
  .InicioIndex {
    background-image: url("Imagenes/FotoInicio.png");
    height: 70%;
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: center;
    color: white;
  }
  
  .InicioIndex h1 {
    font-size: 300%;
    margin-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .InicioIndex h2 {
    font-size: 150%;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .InicioIndex a {
    background-color: rgb(212, 175, 55);
    color: rgb(90, 14, 14);
    padding: 1% ;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  .PorQueElegirnos {
    clear: both;
    background-color: rgb(242, 234, 219);
    padding: 5%;
    text-align: center;
  }
  
  .PorQueElegirnos img {
    width: 30%;
    margin-bottom: 2%;
  }
  
  .PorQueElegirnos h1 {
    
    font-size: 250%;
    margin-bottom: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  .PorQueElegirnos div {
    float: left;
    width: 28%;
    margin: 2%;
    padding: 3%;
    background-color: rgb(255, 250, 240);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    height: auto;
    min-height: 100%;
  }
  
  .PorQueElegirnos h2 {
    font-size: 140%;
    margin-bottom: 1%;
    font-family: Georgia, serif;
  }
  
 
  .Tradizione {
    clear: both;
    background-color: rgb(242, 234, 219); 
    padding: 5%;
    overflow: hidden;
  }
  
  .Tradizione h1 {
    font-size: 250%;
    color: rgb(90, 14, 14);
    margin-bottom: 2%;
    text-align: left;
  }
  .Tradizione img {
    float: left;
    width: 45%;
    margin-right: 5%;
    border-radius: 5px;
  }
  .PorQueElegirnos p {
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 0 5%;
  }
  
  .Tradizione p {
    float: left;
    width: 45%;
    text-align: left;
    margin-bottom: 2%;
    font-family: Arial, sans-serif;
  }
  
  .Tradizione a {
    float: left;
    text-decoration: none;
    background-color: rgb(212, 175, 55);
    color: rgb(90, 14, 14);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .Reseñas {
    clear: both;
    background-color: rgb(242, 234, 219); /* fondo crema */
    padding: 2%;
    border: 1px solid  rgb(90, 14, 14); /* borde exterior */
    width: 90%;
    margin: 5% ;
    text-align: center;
  }
  
  .Reseñas h1 {
    color: rgb(90, 14, 14);
    font-size: 200%;
    margin-bottom: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .Reseñas img {
    width: 80%;
    margin-bottom: 1%;
    border: none;
  }

  .Reseñas div {
    float: left;
    width: 28%;
    border: 1px solid #ccc;
    border-radius: 1%;
    text-align: center;
    margin: 2%;
    padding: 2%;
    background-color: white;
   
  }


.Historia 
{
    background-color: rgb(242, 234, 219);
    padding: 5%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .Historia img
   {
    width: 100%;
    height: 100%;  
    border-radius: 1%;
  }
  
  .Historia h1 
  {
    font-size: 250%;
    margin-bottom: 4%;
    color: rgb(90, 14, 14);
  }
  
  .Historia div {
    float: left;
    width: 30%;
    margin: 1.6%;
    padding: 2%;
    background-color: white;
    border: 2px solid rgb(212, 175, 55);
    border-radius: 10px;
    color: rgb(90, 14, 14);
    height: 52.2%;
    text-align: left; }



    .Ubicacion img {
        float: left;
        width: 40%;
        margin-right: 5%;
        border-radius: 1%;
        border: 2px solid rgb(212, 175, 55);
      }
      

  .Ubicacion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(90, 14, 14);
    text-align: left;
    clear: both;
    background-color: rgb(255, 250, 240);
    padding: 5%;
    overflow: hidden;
    border: 2px solid rgb(212, 175, 55);
    border-radius: 10px;
    
  }
  

.Chefs
   {
    text-align: center;
    clear: both;
    background-color: rgb(242, 234, 219);
    padding: 5%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .Ubicacion p {
    width: 50%;
    float: left;
    font-size: 100%;
   
  }
 
  .Chefs h1 {
    color: rgb(90, 14, 14);
    font-size: 220%;
    margin-bottom: 5%;
  }
  .Chefs img 
  {
    width: 100%;
    margin-bottom: 1.5%;
    border-radius: 1%;
  }
  
  .Chefs div {
    float: left;
    background-color: white;
    border: 2px solid rgb(212, 175, 55);
    width: 21%;
    margin: 2%;
    padding: 2%;
    
    border-radius: 1%;
    text-align: left;
    font-size: 90%;
    color: rgb(90, 14, 14);
    box-sizing: border-box;
  }
  
 
  .Reservas {
    background-color: rgb(242, 234, 219); 
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 5%;
    padding: 3%;
    margin: auto;
    margin-top: 3%;
    font-family: Arial, sans-serif;
  }
  .Reservas p {
    text-align: center;
    color: rgb(90, 14, 14);
    margin-bottom: 3%;
    font-size: 100%;
  }
  
  .Reservas h1 {
    text-align: center;
    color: rgb(90, 14, 14);
    font-size: 200%;
    margin-bottom: 2%;
  }
  
  
  .Reservas form input,
  .Reservas form select {
    float: left;
    width: 45%;
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 5%;
    margin: 1%;
    padding: 1%;
   
  }
  
  .Reservas form textarea {
    width: 93%;
    margin: 1%;
    padding: 1%;
    height: 15%;
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 0.5%;
    clear: both;
  }
  
  .Reservas form input[type="submit"] {
    width: 20%;
    padding: 1%;
    clear: both;
    margin-left: 40%;

    background-color: rgb(212, 175, 55);
    color: rgb(90, 14, 14);
    border: none;
    border-radius: 8px;
    font-weight: bold;

  }

  .InicioCarta {

    background-image: url("Imagenes/FotoInicio.png");
    background-position: center;
    height: 70%;
    padding-bottom: 10%;
    padding-top: 20%;
    text-align: center;
    color: white; }
  
     .InicioCarta h2 {
        font-size: 150%;
        margin-bottom: 3%;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
  .InicioCarta h1 {
    font-size: 300%;
    margin-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;}
  
  
 

  
  .menu {
    border: 2px solid rgb(212, 175, 55);
    background-color: rgb(255, 250, 240); 
    padding: 3%;
    margin: 5% auto;
    width: 90%;
    border-radius: 1%;
    
  }
  
  .menu h2 {
    text-align: center;
    font-size: 140%;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', serif;
    border-top: 2px solid rgb(212, 175, 55);
    border-bottom: 2px solid rgb(212, 175, 55);
    padding: 1%;
    color: rgb(90, 14, 14); 
    background-color: rgb(242, 234, 219); 
  }
  
  .menu div {
    overflow: hidden;
    padding: 1% 0;
  }
  
  .menu ul {
    float: left;
    width: 45%;
    margin: 2.5%;
    list-style-type: disc;
    color: rgb(90, 14, 14); 
  }
  .menu li::marker {
    color: rgb(212, 175, 55); /*Esto lo agregue para darle mas estilo a la lista y a los puntitos*/
  }
  
  .menu li 
  {
    margin-bottom: 1%;
    line-height: 1.5em;
    font-size: 95%;
    font-family: Georgia, 'Times New Roman', serif;
  }
  
  
  footer {
    clear: both;
    background-color: rgb(90, 14, 14);
    color: white;
    padding: 5%;
    text-align: center;
  }
  
  footer img {
    width: 8%;
    margin: 1%;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin-top: 2%;
  }
  
  footer li {
    margin: 1.5% 0;
  }
footer ul li
{
list-style-type: none;
}
